<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANALYZE YOUR TEXT HERE</title>
</head>
<body style="background-color:rgb(94, 170, 79) ;">
    <div style="text-align:center ; background-color: rgb(235, 204, 111);">
        <h1>Enter your Text in this platform</h1>
        <h3>The text will be analyzed in the system and you will be<br> redirected to your newly cleaned dummy data</h3>

        <form action="/about" method="get">
            <textarea name="text" cols="100" rows="10" placeholder="Enter your text here for analysis"></textarea>
            <p><input type="checkbox" name="removepunctuation">Remove-Punctuations</p>
            <p><input type="checkbox" name="spaceremover" style="margin-left:-33px ;">Space-Remover</p>
            <p><input type="checkbox" name="capitalize" style="margin-left:-70px ;">Capitalize</p>
            <p><button type="submit" name="btn_analyze">Remove Punctuation</p>
        </form>
    </div>
</body>
</html>
